<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <div class="w3-container w3-center">
    <h1>Welcome to Project "EncDec"!</h1>
    <br>
    <h4>Go to project>>></h4>
    <a href="/encdec/" class="w3-btn w3-blue w3-shadow w3-round-large">EncDec</a>
<br><br><br><br>
<h2>Project members:</h2>
<h3>Himanshu Sharma</h3>
<h3>Anuj Kumar Mishra</h3>
<h3>Himanshu Pandey</h3>
</div>
</body>
</html>